<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="precio">
            <h2><span jhiTranslate="odontApp.precio.detail.title">Precio</span> {{precio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="odontApp.precio.idTratamiento">Id Tratamiento</span></dt>
                <dd>
                    <span>{{precio.idTratamiento}}</span>
                </dd>
                <dt><span jhiTranslate="odontApp.precio.precio">Precio</span></dt>
                <dd>
                    <span>{{precio.precio}}</span>
                </dd>
                <dt><span jhiTranslate="odontApp.precio.fechaDesde">Fecha Desde</span></dt>
                <dd>
                    <span>{{precio.fechaDesde}}</span>
                </dd>
                <dt><span jhiTranslate="odontApp.precio.fechaHasta">Fecha Hasta</span></dt>
                <dd>
                    <span>{{precio.fechaHasta}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/precio', precio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
