<div>
    <h2 id="page-heading">
        <span jhiTranslate="odontApp.ficha.home.title">Fichas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ficha" [routerLink]="['/ficha/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="odontApp.ficha.home.createLabel">
            Create new Ficha
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="fichas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="odontApp.ficha.month">Month</span></th>
            <th><span jhiTranslate="odontApp.ficha.urgency">Urgency</span></th>
            <th><span jhiTranslate="odontApp.ficha.paciente">Paciente</span></th>
            <th><span jhiTranslate="odontApp.ficha.planilla">Planilla</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ficha of fichas ;trackBy: trackId">
                <td><a [routerLink]="['/ficha', ficha.id, 'view' ]">{{ficha.id}}</a></td>
                <td>{{ficha.month}}</td>
                <td>{{ficha.urgency}}</td>
                <td>
                    <div *ngIf="ficha.pacienteId">
                        <a [routerLink]="['../paciente', ficha.pacienteId , 'view' ]" >{{ficha.pacienteId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ficha.planillaId">
                        <a [routerLink]="['../planilla', ficha.planillaId , 'view' ]" >{{ficha.planillaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ficha', ficha.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ficha', ficha.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ficha', { outlets: { popup: ficha.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
