<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ficha-heading" jhiTranslate="odontApp.ficha.home.createOrEditLabel">Create or edit a Ficha</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ficha.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="odontApp.ficha.month" for="field_month">Month</label>
                    <input type="text" class="form-control" name="month" id="field_month"
                           formControlName="month"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="odontApp.ficha.urgency" for="field_urgency">Urgency</label>
                    <input type="checkbox" class="form-control" name="urgency" id="field_urgency"
                           formControlName="urgency"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="odontApp.ficha.paciente" for="field_paciente">Paciente</label>
                    <select class="form-control" id="field_paciente" name="paciente" formControlName="pacienteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pacienteOption.id" *ngFor="let pacienteOption of pacientes; trackBy: trackPacienteById">{{pacienteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="odontApp.ficha.planilla" for="field_planilla">Planilla</label>
                    <select class="form-control" id="field_planilla" name="planilla" formControlName="planillaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="planillaOption.id" *ngFor="let planillaOption of planillas; trackBy: trackPlanillaById">{{planillaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
